name: Daily Telegram Tamil Calendar

on:
  schedule:
    - cron: "01 0 * * *"   # 6:00 AM IST every day
  workflow_dispatch:

jobs:
  send-telegram:
    runs-on: ubuntu-latest
    
    steps:
      - uses: actions/checkout@v3

      - name: Setup Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.11"

      - name: Install dependencies
        run: pip install requests

      - name: Send Telegram Message
        env:
          BOT_TOKEN: ${{ secrets.BOT_TOKEN }}
          CHAT_ID: ${{ secrets.CHAT_ID }}
          IMAGE_URL: ${{ secrets.IMAGE_URL }}
        run: python send_telegram.py
